Package: com.kome1.hidequickaction
Name: HideQuickAction
Version: 0.0.1
Architecture: iphoneos-arm
Description: Hide LS Quick Action Buttons
Maintainer: kome1
Author: kome1
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
